main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

div {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

button {
  margin-top: 30px;
}

#result {
  resize: none;
}

#data,
#random-number {
  width: 50%;
}
